.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal {
  font-family: "Open Sans", sans-serif;
}

img.borderless {
  border-width: 0px !important;
}
