---
layout: default
---
{% assign max_archive_len = 2 %}
<div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="row">
        <div class="col-xs-12">
          <h1>{{ page.title }}</h1>
          <p class="tagline">{{ page.date | date_to_long_string }}</p>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{ content }}
        </div>
      </div>
    </div>

    <!-- sidebar -->
    <div class="col-md-4 hidden-xs hidden-sm">
      <div class="well well-sm" style="position: fixed">
        {% unless page.no_code %}
        Code:
        <span ng-controller="SyntaxToggleCtrl">
          <div class="btn-group">
            <button class="btn btn-sm btn-default" ng-class="style === 'solarizedlight' ? 'active' : ''"
              ng-click="select('solarizedlight')">
              Light
            </label>
            <button class="btn btn-sm btn-default" ng-class="style === 'solarizeddark' ? 'active' : ''"
              ng-click="select('solarizeddark')">
              Dark
            </label>
          </div>
        </span>
        {% endunless %}

        {% if page.next %}
        <h3>
          Next:
          <a href="{{ page.next.url }}">{{ page.next.title }}</a>
        </h3>
        {% endif %}
        {% if page.previous %}
        <h3>
          Previous: 
          <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
        </h3>
        {% endif %}
      </div>
    </div>

  </div>
</div>
